<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Ouverture Compte Bancaire</title>
    <meta charset="utf-8" />
    <!-- <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css" /> -->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/script_index.css')}}" />
</head>

<body>

    <header>
        <h1>BIENVENUE DANS LA BANQUE DU PEUPLE</h1>
    </header>

    <h2>Désolé cette action n'est pas encore gérée</h2>    

    <h3><a href="{{ path('liste_client_moral')}}">Retour à la liste des clients</a></h3>


    <script type="text/javascript" src="{{ asset('js/script_index.js')}}"></script>

</body>

</html>